:root{
  --primary: rgb(221,45,74);
  --secondary: rgb(242,106,141);
  --accent : #9ED8DB;
  --background: rgb(254,245,248);
  --text : rgb(136,13,30);
  --color:#FAF9F6;
  --accent-gradient: linear-gradient(135deg, #e7ce61 0%, #c4a43c 100%);



  --font-primary: 'Inter', sans-serif;
  --font-secondary: 'Playfair Display', serif;
  --font-special: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background); /* Sayfanın tamamı artık kırık beyaz */
  color: var(--text);
  font-family: var(--font-primary);
}